.about_container{
    position: absolute;
    width: 876px;
    height: 65px;
    left: calc(50% - 876px/2);
    top: 163px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;


}