@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Poppins "Times New Roman", Times, serif;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.body-container {
  max-width: 1200px;
  margin: 0 auto;
  /* border-right: 3px solid #1d00c4; */
  /* border-left: 3px solid #1d00c4; */
}
/* ------------------------------------------- */

/* Navbar styling */
.top-navbar-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: #ffffff;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0px 1px 3px #000000;
  z-index: 20px;
}

/* unimart logo styling */
.unimart-logo {
  display: inline-flex;
}
.unimart-logo a {
  font-family: Poppins, serif;
  font-weight: bolder;
  color: #1d00c4;
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  transition: all ease-in 0.3s;
}

.unimart-logo a span {
  color: #ff0000;
}

.unimart-logo a:hover {
  border-color: #1d00c4;
}

/* navbar links styling */
.nav-items-container {
  align-content: center;
}

.nav-links {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  /* padding: 0 20px; */
}

.nav-links a {
  margin: 2px;
  color: #000000;
  font-size: 1rem;
  padding: 10px 15px;
  transition: all ease-in 0.3s;
  border: 1px solid #ffffff;
  border-radius: 50px;
}

.nav-links a:hover {
  color: #1d00c4;
  border: 1px solid #1d00c4;
}

/* search container styling */
/* .search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.contact-us-link {
  display: inline-flex;
  border: #1d00c4 1px solid;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 0.9rem;
  color: #1d00c4;
  transition: all ease-in 0.3s;
}

.contact-us-link:hover {
  color: #ffffff;
  border-color: #ff0000;
  background: #ff0000;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-item input {
  border: #1d00c4 1px solid;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 0.8rem;
  outline: none;
  /* display: none; */
}

.search-submit-btn button {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

/* sign up and sign in btn */
.nav-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-up-btn,
.sign-in-btn {
  background: none;
  border: none;
}

.sign-up-btn a,
.sign-in-btn a {
  font-size: 0.8 rem;
  color: #1d00c4;
  border-radius: 50px;
  border: 1px solid #1d00c4;
  padding: 10px 15px;
  transition: all ease-in 0.3s;
}

.sign-up-btn a {
  color: #ffffff;
  background: #1d00c4;
  margin: 0 10px;
}

.sign-in-btn a:hover {
  color: #ffffff;
  background: #1d00c4;
}

.sign-up-btn a:hover {
  background: #ff0000;
  color: #ffffff;
  border-color: #ff0000;
}

.sidebar-open-btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.sidebar-close-btn {
  position: absolute;
  font-size: 0.8rem;
  top: 0;
  right: 290px;
  cursor: pointer;
  z-index: 50;
  /* transform: rotate(90deg); */
  color: #b60202;
  padding: 20px;
}
/* sidebar styling */

.side-navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  top: 0;
  right: 0;
  z-index: 10;
  width: 300px;
  height: 100vh;
  box-shadow: -2px 0 10px 2px rgba(0, 0, 0, 0.4);
  padding: 0 30px;
  transform: translateX(400px);
  transition: all 0.5s ease-in;
}
.side-navbar.active {
  transform: translateX(0);
}
.side-navbar-group {
  margin: 50px 0;
}
.side-navbar-group li {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid rgba(90, 89, 89, 0.3);
  transition: transform 0.5s ease-in;
}
.side-navbar-group li:hover {
  transform: translateX(10px);
}
.side-navbar-item {
  color: #000000;
  font-size: 1.3em;
}
.side-navbar-item:hover {
  color: #b60202;
}

/* ----------------------------------------------------------- */
.main-container{
  max-width: 1404.13px;
  overflow: hidden;
}

.showcase{
  width: 100%;
  padding: 25px;
  margin: 20px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 834px) {
  .showcase{
    flex-direction: column;
  }

  @media screen and (max-width: 430px) {
    .showcase{
      padding: 10px;
    }
  }
}

.flex-column-left{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 834px) {
  .flex-column-left{
    width: 100%;
    flex-direction: row;
  }

  @media screen and (max-width: 430px) {
    .flex-column-left{
      flex-direction: column;
    }
  }
}

.flex-column-left .header{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media screen and (max-width: 834px) {
  .flex-column-left .header{
    width: 50%;
  }

  @media screen and (max-width: 430px) {
    .flex-column-left .header{
      width: 100%;
    }
  }
}

.flex-column-left .header h1{
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 57.0784px;
  line-height: 69px;
  display: flex;
  align-items: center;
  color: #281A1A;
}

@media screen and (max-width: 430px) {
  .flex-column-left .header h1{
    font-size: 35px;
    line-height: 40px;
  }
}

.flex-column-left .header .actions{
  width: 218px;
  height: 59px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.flex-column-left .header .actions .explore-btn{
  width: 146px;
  height: 53px;
  background: #294EAB;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (max-width: 430px) {
  .flex-column-left .header .actions .explore-btn{
    width: 130px;
    height: 50px;
    font-size: 18px;
  }
}

.flex-column-left .header .actions img{
  width: 30px;
  height: 30px;
}

.flex-column-left .what-makes-us-pro{
  max-width: 252px;
  margin-top: 98px;
  margin-left: 84px;
}

@media screen and (max-width: 834px) {
  .flex-column-left .what-makes-us-pro{
    width: 50%;
    margin-top: 0;
  }

  @media screen and (max-width: 430px) {
    .flex-column-left .what-makes-us-pro{
      width: 100%;
      margin-top: 50px;
      margin-left: 0px;
    }
  }
}

.flex-column-left .what-makes-us-pro h2{
  font-style: normal;
  font-weight: 600;
  font-size: 19.9774px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  color: #3E3E3E;
}

.flex-column-left .what-makes-us-pro ul{
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-start;
}

.flex-column-left .what-makes-us-pro ul li{
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-left .what-makes-us-pro ul li img{
  width: 19.03px;
  height: 19.03px;
}

.flex-column-left .what-makes-us-pro ul li p{
  font-style: normal;
  font-weight: 600;
  font-size: 16.1722px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6F6463;
}


.flex-column-right{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (max-width: 834px) {
  .flex-column-right{
    flex-direction: column;
    width: 100%;
    margin: 70px 0 300px 0;
  }
}

.flex-column-right .column-left,
.flex-column-right .column-right{
  width: 50%;
  position: relative;
}

.flex-column-right .column-left .background{
  position: absolute;
  width: 361.42px;
  height: 480px;
  background: linear-gradient(180deg, #FFC40E 0%, #DC6826 100%);
  transform: rotate(5deg);
}

@media screen and (max-width: 430px) {
  .flex-column-right .column-left .background{
    width: 300px;
    height: 400px;
  }
}

.flex-column-right .column-left img{
  position: absolute;
  width: 348px;
  height: 480px;
}

@media screen and (max-width: 430px) {
  .flex-column-right .column-left img{
    width: 300px;
    height: 400px;
  }
}

.flex-column-right .column-right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 834px) {
  .flex-column-right .column-right{
    margin-top: 200px;
  }
}

.flex-column-right .column-right .symbol{
  position: absolute;
  width: 36.05px;
  height: 62.61px;
  right: 260px;
  top: 120px;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 834px) {
  .flex-column-right .column-right .symbol{
    top: 60px;
  }
}

.flex-column-right .column-right .symbol img{
  width: 20px;
}


.flex-column-right .column-right .rectangle{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin-left: -80px;
  margin-top: 215px;
}

@media screen and (max-width: 834px) {
  .flex-column-right .column-right .rectangle{
    margin-top: 160px;
  }

  @media screen and (max-width: 834px) {
    .flex-column-right .column-right .rectangle{
      margin-top: 250px;
    }
  }
}


.flex-column-right .column-right .rectangle .background{
  box-sizing: border-box;
  position: absolute;
  width: 250px;
  height: 330px;
  left: 25%;
  background: #FFFFFF;
  background: linear-gradient(180deg, #FFFFFF 55%, #F19F17 50%);
  border-right: 19.9424px solid #F19F17;

}


.flex-column-right .column-right .rectangle img{
  box-sizing: border-box;
  position: absolute;
  width: 243px;
  height: 310px;
  top: -10px;
  left: 25.2%;
  transform: rotate(3deg);
}


/* new product section */
.new-products-container{
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 430px) {
  .new-products-container{
    padding: 10px;
  }
}

.new-products-container .new-p-header{
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
}

.new-products-container .new-p-header h1{
  font-style: normal;
  font-weight: 600;
  font-size: 49.0584px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #2C1E1E;
}

@media screen and (max-width: 430px) {
  .new-products-container .new-p-header h1{
    font-size: 25px;
    line-height: 35px;
  }
}

.new-products-container .new-p-header .controllers{
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media screen and (max-width: 430px) {
  .new-products-container .new-p-header .controllers{
    width: 80px;
  }
}

.new-products-container .new-p-header .controllers .left-btn,
.new-products-container .new-p-header .controllers .right-btn{
  width: 32.71px;
  height: 32.71px;
  border: 1px solid #ccc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.new-products-container .products{
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}


.new-products-container .products .wrapper{
  width: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}


.new-products-container .products .wrapper li{
  width: 200px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .new-products-container .products .wrapper li{
    width: 150px;
    height: 200px;
  }
}


.new-products-container .products .wrapper li img{
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in;
}


.new-products-container .products .wrapper li img:hover{
  scale: 1.05;
}


/* about us */
.about-us{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #0000ff, white);

}

.about-us .about-us-header{
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

@media screen and (max-width: 430px) {
  .about-us .about-us-header{
    margin-bottom: 0;
    font-size: 25px;
  }
}

.about-us .about-content{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 834px) {
  .about-us .about-content{
    padding: 10px;
  }

  @media screen and (max-width: 430px) {
    .about-us .about-content{
      flex-direction: column;
    }
  }
}

.about-us .about-content .text-content{
  width: 55%;
  font-weight: 600;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 834px) {
  .about-us .about-content .text-content{
    width: 60%;
  }

  @media screen and (max-width: 430px) {
    .about-us .about-content .text-content{
      width: 100%;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

.about-us .about-content .text-content h1{
  font-size: 80px;
  line-height: 94px;
  color: #e2e0e0;
}

@media screen and (max-width: 834px) {
  .about-us .about-content .text-content h1{
    font-size: 65px;
    line-height: 80px;
  }

  @media screen and (max-width: 430px) {
  .about-us .about-content .text-content h1{
      width: 90%;
      font-size: 32px;
      line-height: 45px;
    }
  }
}

.about-us .about-content .text-content p{
  font-size: 20px;
  line-height: 30px;
  color: #e2e0e0;
}

@media screen and (max-width: 430px) {
  .about-us .about-content .text-content p{
    font-size: 16px;
    line-height: 30px;
  }
}


.about-us .about-content .image-content{
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


@media screen and (max-width: 430px) {
.about-us .about-content .image-content{
    width: 100%;
    justify-content: center;
  }
}


.about-us .about-content .image-content img{
  width: 370px;
  height: 370px;
  animation: swing 5s ease-in-out alternate-reverse infinite;
}


@media screen and (max-width: 430px) {
.about-us .about-content .image-content img{
    margin-left: -20px;
    width: 200px;
    height: 200px;
  }
}

@keyframes swing {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-10px); /* Move left */
  }
  50% {
    transform: translateX(10px);  /* Move right */
  }
  75% {
    transform: translateY(-10px); /* Move up */
  }
  100% {
    transform: translateY(10px);  /* Move down */
  }
}


.about-us .about-btn{
  width: 142px;
  height: 43px;
  box-sizing: border-box;
  background: linear-gradient(to right, blue, white);
  border-radius: 0px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.about-us .about-btn p{
  font-style: normal;
  font-weight: 700;
  font-size: 12.5px;
  color: #ffffff;
}


.about-us .about-btn .right-angle{
  font-style: normal;
  font-weight: 700;
  font-size: 12.5px;
  color: #000;
}

.popular-items .new-p-header h1{
  font-size: 20px;
}

/* most popular product */
.popular-items .new-p-header h1,
.service .new-p-header h1{
  font-size: 35px;
  margin-bottom: -10px;
}

@media screen and (max-width: 430px) {
  .popular-items .new-p-header h1,
.service .new-p-header h1{
    font-size: 20px;
  }
}



/* services */
.service .products{
  margin-top: -30px;
}


@media screen and (max-width: 430px) {
  .service .products{
    margin-top: -10px;
  }
}


#service li{
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 430px) {
  #service li{
    width: 120px;
    height: 120px;
  }
}


#service li img{
  width: 160px;
  height: 160px;
  border-radius: 100%;
}


@media screen and (max-width: 430px) {
  #service li img{
    width: 100px;
    height: 100px;
  }
}

#service li p{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}



/*------------------------------------------------------------*/

/* Media Queries */
@media screen and (max-width: 1200px) {
  /*  */
}

/*  */
@media screen and (max-width: 992px) {
  .nav-links a {
    margin: 2px;
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  /* .search-item input {
    width: 100px;
  } */
  .sign-up-btn a,
  .sign-in-btn a {
    font-size: 0.5rem;
    padding: 5px 10px;
  }

  .nav-links a {
    font-size: 0.5rem;
  }
}

/*  */
@media screen and (max-width: 768px) {
  .unimart-logo a {
    border-color: #1d00c4;
  }
  .sign-in-btn,
  .sign-up-btn,
  .contact-us-container {
    display: none;
  }
  /*  */

  .sidebar-open-btn {
    display: block;
  }

  /* .nav-links li:nth-child(5), */
  .search-container {
    display: none;
  }
}

/*  */
@media screen and (max-width: 540px) {
  .nav-links {
    display: none;
  }
}
