.form-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    z-index: 1000;
}

.form-container form{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #1e90ff; 
}

label {
    font-size: 14px;
    color: #1e90ff;
    margin-bottom: 6px;
    display: block;
}

.form-container form input[type="text"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1e90ff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-container form input[type="text"]:focus, input[type="tel"]:focus {
    border-color: #1c86ee; /* Slightly darker blue on focus */
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1c86ee;
}