

*{
    box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.categories-container{
  width: 100%;
  padding: 15px 0px;
  position: relative;
  z-index: 0;
}

.arrows{
  position:sticky;
  left: 2px;
  width: 98%;
  top: -5%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  display: none;
}

@media screen and (max-width: 430px) {
  .arrows{
    display: flex;
  }
}

.arrows .icon{
  font-size: 10px;
}

@media screen and (max-width: 430px) {
  
  .categories-container{
    width: 100%;
    margin: auto;
    overflow-x: scroll;
    scrollbar-width: none;
  }
}

.product-categories{
  width: 100%;
  margin: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* scrollbar-width: none; */
}


@media screen and (max-width: 430px) {
  .product-categories{
    width: max-content;
  }
}

.product-categories li{
  height: 25px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1E0E62;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.product-categories > li:hover{
  color: crimson;
}

.top-bar{
  max-width: 1440px;
  height: 86px;
  background: #1d00c4;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15.1975px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

input,
select,
textarea,
button {
  outline: 0;
}

.product-container {
  max-width: 1440px;
  margin: auto;
  margin-top: 20px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 430px) {
  .product-container {
    margin-left: 5px;
  }
}

.product {
  width: 190px;
  height: 290px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  position: relative;
}

@media screen and (max-width: 430px) {
  .product {
    width: 170px;
    height: 250px;
    background: none;
    border: 1px solid #ccc;
    box-shadow: none;
  }
}

.image-container {
  width: 100%;
  height: 65%;
  /* border-bottom: 1px solid #ccc; */
  overflow: hidden;
}

@media screen and (max-width: 430px) {
  .image-container {
    height: 50%;
  }
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 430px) {
  .image-container img{
    object-fit: contain;
  }
}

.image-container img:hover{
    scale: 1.05;
}

.product-info{
  width: 100%;
  padding: 5px 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 430px) {
  .product-info{
   padding: 2px 5px;
  }
}

.product-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 430px) {
  .product-name {
    font-size: 15px;
  }
}

.price {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.view_more {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #1d00c4;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.background {
  position: absolute;
  bottom: 3px;
  width: 90%;
  left: 5%;
  margin: auto;
  height: 9.564px;
  background: #482be7;
}

.product-details-container{
  display: none;
}

.order_form{
  display: none;
}

.displayProductDetails{
  display: block;
}

